.welcome-section {
    display: flex;
    margin-bottom: 150px;
    margin-top: 200px;
    display: table;
    clear: both;
}

.column-1 {
  float: left;
  width: 50%;
}

.welcome-section h1 {
    color: #8DA5F7;
    opacity: 0.8;
    font-size: 60px;
    margin-left: 350px;
    line-height: 60px;
}

.modal-video-button-container {
    text-align: match-parent;
    margin-left: 50%;
    padding-top: 40px;
}

.video-button {
    justify-content: center;
    border-radius: 50px;
    background: #87A4E3;
    width: 50px;
    height: 50px;
}

.image-1 {
    margin: auto;
    width: 1000px;
    position: relative;
    margin-left: 170px;
    margin-top: 100px;

}

.features {
    display: flex;
    background-color: #AFDDFF;
    opacity: 0.8;
    padding-top: 200px;
    padding-bottom: 200px;
}

.feature-section {
    width: 800px;
}

.sign-up-button-container {
    text-align: center;
}

.sign-up-button {
    width: 100px;
    height: 30px;
    border: 1px black;
    background-color: #8DA5F7;
    text-align: center;
    padding-top: 10px;
    margin-left: 40%;
}

.features a {
    color: grey;
}

.features p {
    color: grey;
    margin: 70px;

}

.mountains {
    height: 332;
    width: 332;
}

.pricing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;
}

.pricing-heading {
    text-align: center;
    padding-top: 100px;
    color: grey;
    opacity: 0.8;
}

.free {
    color: #8FDD98;
    opacity: 0.8;
    justify-content: space-between;
    text-align: center;
    padding: 100px;
}

.premium {
    color: #87A4E3;
    opacity: 0.8;
    justify-content: space-between;
    text-align: center;
    padding: 100px;
}

.pricing h1 {
    flex-direction: column;
}

.second-image {
    padding: 160px;
    width: 600px;
    height: 400px;
    margin-left: 15%;
}

.FAQ {
    display: flex;
    opacity: 0.8;
    background-color: #F4F4BE;
    padding-left: 80px;
    padding-top: 150px;
    flex-direction: column;
}

.faq-heading {
    text-align: center;
    padding-bottom: 100px;
}

.part-1 {
    margin-bottom: 50px;
}