.welcome-section {
    display: flex;
    margin-bottom: 300px;
    margin-top: 200px;
    display: table;
    clear: both;
}

.column-1 {
  float: left;
  width: 50%;
}

.welcome-section h1 {
    color: #8DA5F7;
    opacity: 0.8;
    font-size: 60px;
    margin-left: 350px;
    line-height: 60px;
}

.image-1 {
    margin: auto;
    width: 1000px;
    position: relative;
    margin-left: 170px;
    margin-top: 100px;

}

.features {
    display: flex;
    background-color: #AFDDFF;
    opacity: 0.8;
}


.features a {
    color: grey;
}

.features p {
    color: grey;
    margin: 70px;

}

.mountains {
    height: 432;
    width: 432;
}