nav {
    display: flex;
    background-color: black;
    
}

.nav-flex-container {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0px;
    height: 40px;
    align-items: baseline;
    color: white;
}

a {
    text-decoration: none;
    margin-left: 30px;
    margin-right: 40px;
    color: white;
    height: 50px;

}

a:hover {
    color:#8DA5F7;
}

.sign-in {
    margin-left: 660px;
    margin-right: 90px;
    text-decoration: none;
    color: grey;
}

.sign-up {
    text-decoration: none;
    color: white;
    background-color: #6363ED;
    border-radius: 5px; 
    padding-top: 3px;
    width: 70px;
    height: 30px;
}

.sign-up-container {
    width: 190px;
    border-radius: 5px;
    height: 18px;
    padding: 2px;
    opacity: 0.8;
}

.header-img {
    width: 20px;
    height: 20px;
}